@font-face {
    font-family: 'pixelFont';
    src: url('../fonts/pixel-webfont.eot');
    src: url('../fonts/pixel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pixel-webfont.woff2') format('woff2'),
         url('../fonts/pixel-webfont.woff') format('woff'),
         url('../fonts/pixel-webfont.ttf') format('truetype'),
         url('../fonts/pixel-webfont.svg#8bit_wondernominal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'letterDropFont';
    src: url('../fonts/letter-drop-webfont.eot');
    src: url('../fonts/letter-drop-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/letter-drop-webfont.woff2') format('woff2'),
         url('../fonts/letter-drop-webfont.woff') format('woff'),
         url('../fonts/letter-drop-webfont.ttf') format('truetype'),
         url('../fonts/letter-drop-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abstractregular';
    src: url('../fonts/ABSTRACT-webfont.eot');
    src: url('../fonts/ABSTRACT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ABSTRACT-webfont.woff2') format('woff2'),
         url('../fonts/ABSTRACT-webfont.woff') format('woff'),
         url('../fonts/ABSTRACT-webfont.ttf') format('truetype'),
         url('../fonts/ABSTRACT-webfont.svg#abstractregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-image: url("images/background.jpg");
    background-color: #000004;
    margin: 0 25px 0 25px;
}

.menu
{
    position: relative;
    text-align: center;
}

.blockContainer
{
    position: absolute;
	display: inline-block;
    overflow: hidden;
}

.blockBorder
{
    width: 24px;
    height: 23px;
	border-style: dotted;
	border-width: 2px;
}

.blockBorder.extra
{
	border-color: #FF6600;
	background-color: #FF6600;
}

.blockShadow.extra
{
	box-shadow: 0 0 8px #FFFF00;
}

.blockLetter.extra
{
	color: #FFFF00;	
}

.blockBorder.blue
{
	border-color: #00C9EC;
	background-color: #0D3C5A;
}

.blockShadow.blue
{
	box-shadow: 0 0 8px #00C9EC;
}

.blockLetter.blue
{
	color: #00C9EC;	
}

.blockBorder.green
{
	border-color: #50CB2D;
	background-color: #344803;
}

.blockShadow.green
{
	box-shadow: 0 0 8px #50CB2D;
}

.blockLetter.green
{
	color: #50CB2D;	
}

.blockBorder.orange
{
	border-color: #FD8842;
	background-color: #43281D;
}

.blockShadow.orange
{
	box-shadow: 0 0 8px #FD8842;
}

.blockLetter.orange
{
	color: #FD8842;	
}

.blockBorder.white
{
	border-color: #EFEDEE;
	background-color: #515153;
}

.blockShadow.white
{
	box-shadow: 0 0 8px #EFEDEE;
}

.blockLetter.white
{
	color: #EFEDEE;	
}

.blockBorder.purple
{
	border-color: #DF69AC;
	background-color: #5B3244;
}

.blockShadow.purple
{
	box-shadow: 0 0 8px #DF69AC;
}

.blockLetter.purple
{
	color: #DF69AC;	
}

.blockBorder.red
{
	border-color: #FD4559;
	background-color: #471515;
}

.blockShadow.red
{
	box-shadow: 0 0 8px #FD4559;
}

.blockLetter.red
{
	color: #FD4559;	
}

.blockBorder.yellow
{
	border-color: #F8E078;
	background-color: #60561B;
}

.blockShadow.yellow
{
	box-shadow: 0 0 8px #F8E078;
}

.blockLetter.yellow
{
	color: #F8E078;	
}

.blockLetter
{
	font-family: letterDropFont;
	margin: 1px 0 0 1px;
    text-align: center;
}

.explodedBlockContainer
{
    width: 25px;
    height: 25px;
    position: absolute;
	display: inline-block;
}

.explodedBlockImage
{
    max-width: 100%;
    max-height: 100%;
}

.heartsContainer 
{
    margin: 3px 5px 0 0;
    height: 20px;
    float: right;
}

.heart
{
    float: right;
    margin: 0 2px 0 2px;    
}

.heartImage
{
    height: 20px;
}

.brokenHeartImage
{
    height: 18px;
}

.bombsContainer 
{
    margin: 0 9px 0 0;
    height: 24px; 
    float: right;
}

.bomb
{
    float: right;
    margin: 0 2px 0 4px;    
}

.bombImage
{
    height: 24px;
}

.explodedBombImage
{
    margin: 2px 0 0 0;
    height: 22px;
}

.hits
{
    position: absolute;
	display: inline-block;
    font-family: abstractregular;
    color: #EFEDEE;
    font-size: 5px;
    margin: 7px 0 0 7px;
}

.scoreContainer 
{
    float:left; 
    margin: 5px 0 0 5px;
}

.itemsContainer 
{
    margin: -59px 0 0 0;
}


.levelContainer 
{
    float:left; 
    margin: 25px 0 0 5px;
}

.levelContainer, .scoreContainer 
{
    font-family: abstractregular;
    color: #EFEDEE;
    font-size: 10px;
}

.levelLabel, .levelNumber
{
    float:right; 
}

.levelNumber
{
    width:42px;
    text-align:right;    
}

.menuContainer 
{
    cursor: pointer;
    margin: 5px 0 5px 0;
}

.menuFontFixer 
{
    width: 1px;
    height: 9px;
}

.menuLabel 
{
    font-family: abstractregular;
    color: #00C9EC;
    font-size: 15px;
}

.levelChoiceContainer 
{
    margin-top: -460px;
}

.gameInstructions 
{
    font-family: abstractregular;
    color: #EFEDEE;
    font-size: 6px;
    margin: 5px 0 5px 0;
    text-align: center;
    line-height: 2em;
}

#key_input
{
	height: 30px;
    opacity: 0;
}

#game_container
{
    position: relative;
	margin: 0 auto 0 auto;
	width: 700px;
}

#game_board
{
	width: 700px;
	height: 500px;
    position: relative;
	background-color: #000000;
	border-top: 3px dashed #ECE65C;
	border-left: 3px solid #ECE65C;
	border-right: 3px solid #ECE65C;
	border-bottom: 3px solid #ECE65C;
	border-radius: 6px;
    overflow: hidden;
}

