<div ng-controller="mainController">
    <div ng-show="displayStart" ng-click="startGameClick();" class="menuContainer">
        <div class="menuFontFixer"></div>
        <div class="menuLabel">
            START
        </div>
    </div>
    <div ng-show="!displayStart" ng-click="stopGameClick();" class="menuContainer">
        <div class="menuFontFixer"></div>
        <div class="menuLabel">
            STOP
        </div>
    </div>
    <div ng-show="displayLevelChoice" class="levelChoiceContainer">
        <div ng-click="startGameLevelClick(1);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 1
            </div>
        </div>
        <div ng-click="startGameLevelClick(2);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 2
            </div>
        </div>
        <div ng-click="startGameLevelClick(3);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 3
            </div>
        </div>
        <div ng-click="startGameLevelClick(4);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 4
            </div>
        </div>
        <div ng-click="startGameLevelClick(5);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 5
            </div>
        </div>
        <div ng-click="startGameLevelClick(6);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 6
            </div>
        </div>
        <div ng-click="startGameLevelClick(7);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 7
            </div>
        </div>
        <div ng-click="startGameLevelClick(8);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 8
            </div>
        </div>
        <div ng-click="startGameLevelClick(9);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 9
            </div>
        </div>
        <div ng-click="startGameLevelClick(10);" class="menuContainer">
            <div class="menuFontFixer"></div>
            <div class="menuLabel">
                LEVEL 10
            </div>
        </div>
    </div>
</div>
