<div ng-controller="blocksController">
    <div ng-repeat="block in blocks" class="blockContainer {{ block.hasShadow ? 'blockShadow' : '' }} {{ block.color }}" ng-style="
          {
                left: ( block.position.left + 'px' ),
                top: ( block.position.top + 'px' ),
                opacity : block.opacity,
                height: ( block.heightContainer + 'px' )
          }
         ">
        <div class="blockBorder {{ block.color }}">
            <p class="blockLetter {{ block.color }}">{{ block.letter }}</p>
        </div>
    </div>
</div>