<div ng-app="pixelRainApp">
    <div id="game_container">
        <div id="game_info_left">
            <div ng-level></div>
        </div>
        <div id="game_board">
            <div ng-blocks></div>
            <div ng-exploded-blocks></div>
        </div>
        <div id="game_info_right">
        </div>
    </div>
    <div class="menu" ng-main></div>
</div>