<div ng-app="pixelRainApp">
    <div id="game_container">
        <div class="gameInstructions">TYPE LETTER TO EXPLODE BLOCK --- USE SPACE TO BOMB ALL LETTERS --- TYPE LETTERS IN A ROW TO MAKE A COMBO HITS AND SCORE MORE POINTS</div>
        <div id="game_board">
            <div ng-blocks></div>
            <div ng-exploded-blocks></div>
            <div ng-hits></div>
        </div>
        <div id="game_info_down">
            <div class="menu" ng-main></div>
            <div class="itemsContainer">
                <div ng-hearts class="heartsContainer"></div>
                <div ng-bombs class="bombsContainer"></div>
                <div ng-score class="scoreContainer"></div>
            </div>
            <div ng-level class="levelContainer"></div>
        </div>
    </div>
</div>